h2{
color:#730000;
border:black solid;
}
body{
margin:50px 400px 50px 400px;
background-color:"yellow";
background-image:linear-gradient(120deg,#ff6b6b,#5f27cd);
}
.c2{
text-align:center;
font-size:50px;
background-color:#000000;
color:#F4F6F7;
width:100%;
padding-right:50px; 
padding-left:50px;

}
.button{
background-color:#FFFF00;
color:#808080;
}
.c1{
color:#00FF1A;
font-family:arial;
font-weight:bold;
font-size:20px;
background-color:#000000;
border:black 5px solid;
background-image:url("https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

}
.container{
margin:50px;
padding:50px;
text-align:center;

}
.c3{
background-color:#151B54;
font-size:30px;
}
a{
text-decoration:none;
}
.button{
background-color:#F0FF00;
}


